{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>

        </p>My name is Godfrey, and I am a dedicated Software Engineering student
        currently enrolled in the ALX online Software Engineering course as well as the
        European University of Lefke. I have a profound passion for coding and thrive on
        solving technical problems, including repairing computers. Alongside my technical
        pursuits, I am actively involved in business activities, particularly in buying and
        selling goods.
        <p>
         I have a profound passion for coding and thrive on
        solving technical problems, including repairing computers. Alongside my technical
        pursuits, I am actively involved in business activities, particularly in buying and
        selling goods.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
