{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/assets/img/about-bg.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>About Me</h1>
          <span class="subheading">This is what I do.</span>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <p>

        </p>
          Welcome to Grit, a community-driven blog dedicated to exploring the ever-evolving world of technology. Our platform is designed to bring
          together individuals from diverse backgrounds and expertise, united by a shared passion for innovation and progress.
        <p>
          At Grit, we believe that technology has the power to transform lives and shape the future.
          We're committed to creating a space where individuals can share their knowledge,
          insights, and experiences, inspiring others to delve deeper into the world of technology and contribute to its growth.
        </p>
      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
